<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Админ</title>
    <div th:replace="/fragment/main :: css"></div>
</head>
<body>
<div th:replace="/fragment/main :: navbar"></div>
<div class="container" style="min-height: 600px;">

    <!--/*@thymesVar id="errorDeleteUser" type=""*/-->
    <div th:if="${errorDeleteUser} != null" th:text="${errorDeleteUser}" class="text-danger" style="margin-top: 30px"></div>

    <table class="table table-striped" style="margin-top: 45px;">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Логин</th>
            <th scope="col">Почта</th>
            <th scope="col">Роль</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">Mark</td>
            <td th:text="${user.username}">Mark</td>
            <td th:text="${user.email}">Mark</td>
            <td th:text="${user.roles}">Mark</td>
            <td><a th:href="@{'admin/delete/' + ${user.id}}" class="text-danger">Удалить</a></td>
        </tr>

        </tbody>
    </table>
</div>
<div th:replace="/fragment/main :: footer"></div>
<div th:replace="/fragment/main :: js"></div>
</body>
</html>