<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Админ</title>
    <div th:replace="/fragment/main :: css"></div>
</head>
<body>
<div th:replace="/fragment/main :: navbar"></div>
<div class="container" style="min-height: 600px;">
    <form th:action="@{/meals/edit}" method="post" th:object="${meal}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="local-date">Дата</label>
            <input type="date" class="form-control" id="local-date" th:field="*{time}">
            <small th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="form-text text-danger"></small>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text text-danger"></small>
        </div>
        <div class="form-group">
            <label for="calories">Калорий</label>
            <input type="number" class="form-control" id="calories" th:field="*{calories}">
            <small th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}" class="form-text text-danger"></small>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
<div th:replace="/fragment/main :: footer"></div>
<div th:replace="/fragment/main :: js"></div>
</body>
</html>