<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Дом</title>
    <div th:replace="/fragment/main :: css"></div>
</head>
<body>

<div th:replace="/fragment/main :: navbar"></div>
<div class="container" style="min-height: 600px;">
    Еще не придумал
</div>
<div th:replace="/fragment/main :: footer"></div>
<div th:replace="/fragment/main :: js"></div>
</body>
</html>