<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Логин</title>
    <div th:replace="/fragment/main :: css"></div>
    <link rel="stylesheet" type="text/css" href="../static/css/login-form.css">
</head>
<body>
<div th:replace="/fragment/main :: navbar"></div>

<div class="container">
<div class="form-login" style="min-height: 600px;">
    <form class="form-signin" th:action="@{/login}" method="post">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        </div>

        <div class="form-group">
            <label for="formGroupLoginUserName">Логин</label>
            <input type="text" class="form-control" id="formGroupLoginUserName" name="username">
        </div>

        <div class="form-group">
            <label for="formGroupLoginPassword">Пароль</label>
            <input type="password" class="form-control" id="formGroupLoginPassword" name="password">
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> Remember me
            </label>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginFormSubmit">Войти</button>
        <div th:if="${param.error}" th:text="'Неверный логин или пароль'" class="text-danger mt-2"></div>
        <div th:if="${regInfo} != null" th:text="${regInfo}" class="text-success mt-2"></div>
    </form>
</div>
</div>

<div th:replace="/fragment/main :: footer"></div>
<div th:replace="/fragment/main :: js"></div>
</body>
</html>