<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .validationError{
            color: red;
        }
    </style>
</head>
<body>
<h1>Registration page</h1>
<br>
<p th:if="${userExists} != null" th:text="${userExists}"></p>
<br>

<div th:if="${invalidEmail} != null" th:text="${invalidEmail}"></div>
<div th:if="${pwdNotEqual} != null" th:text="${pwdNotEqual}"></div>

<form th:action="@{/registration}" method="post" th:object="${user}">

    <input type="hidden" name="id" th:value="${user.id}">

    <p>Name: <input type="text" name="username" th:value="*{username}"></p>
    <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

    <p>Email: <input type="text" name="email" th:value="*{email}"></p>
    <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <p>Password: <input type="password" name="password" ></p>
    <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <p>Confirm Password: <input type="password" name="password2"></p>

    <p><input type="submit" value="Registration"></p>
</form>
</body>
</html>